.sidebarChat{
    display: flex;
    padding: 20px;
    border: 1px solid #f6f6f6;
    cursor: pointer;
}
.sidebarChat:hover{
    background-color: #ebebeb;
}
.sidebarChat__info{
    margin-left: 18px;
}
.sidebarChat__info > h2{
    font-size: 18px;
    margin-bottom: 5px;
}